@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl-300/?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.btn {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  text-align: end;
}

.navbar__address {
  display: block;
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin-bottom: 9px;
}

.navbar__button {
  padding: 18px 30px;
  margin-left: 30px;
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    max-width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-img {
  max-width: 100%;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 135px;
}

.hero-title {
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-subtitle {
  color: #333333;
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.hero-list__img {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.hero-list {
  padding: 0;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero {
    padding: 0;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  .hero-text {
    padding: 0;
  }
  .hero-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }
  .hero-subtitle {
    font-size: 16px;
  }
  .hero-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .hero-list__text {
    width: 200px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Museo Sans Light';
  }
}
/*# sourceMappingURL=style.css.map */